.btn-dark {
    background:var(--btn);
}

.link-to-reddit {
    margin: 0 10px;
}

.sort {
    margin-left: 2px;
    font-size: 1em;
    padding: 1%;
    background-color: var(--sort);
}

.card-header .sort {
    padding: 2%;
}

.dropdown-menu.show {
    background-color: var(--btn);
}

.close-button {
    float:right;
}
