.card-body {
    font-size:13px;
    background-color: var(--bg-light);
}

.col-3 > .card > .list-group >.list-group-item:hover {
    background-color: var(--title-hover) !important;
    cursor: pointer;
}

.card-header {
    padding : 5px;
    background : var(--bg-dark);
    position : sticky;
    top: 0;
    z-index: 10;
    font-size : 0.8em;
}

.card-header:hover {
    background : var(--title-hover);
}

.list-group-flush {
    margin-bottom:5px;
}