.navbar {
    padding:0.01%;
    flex-wrap: nowrap;
}

#navcol, #navscroll {
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    background-color: var(--title-hover);
    max-width: 50px;
    flex : 1 0 8.3333%;
    height:100%;
}

.navbar img, .navbar button {
    width: 48px;
    height: 48px;
    padding: 0;
}

.modal-content {
    background: var(--bg-dark);
    color:white;
}

#row {
    margin-left:50px;
}

#navscroll {
  padding-left: 0;
  height: 73%;
  top: 196px
}
