.navbar {
    padding:0.01%;
}

#navcol {
    position:fixed;
    z-index:1000;
    top:0;
    left:0;
    background-color: var(--title-hover);
    max-width: 50px;
    flex : 1 0 8.3333%;
    height:100%;
}

#refresh, #setting, #about, .navbar img {
    width: 48px;
    height: 48px;
    padding: 0;
}

.modal-content {
    background: var(--bg-dark);
    color:white;
}

#row {
    margin-left:50px;
}