/* Quote */
blockquote {
    background: #332c49;
    display: inline-block;
}
blockquote p {
    padding: 10px;
}

/* Media embedded */
.post-image,.youtube {
    width: 50%;
}

/* Gallery */
.gallery {
    width: 25%;
}

/* Post information block */
.post-info {
    padding : 5px;
    background : var(--bg-dark);
}

.post-sort {
    background : var(--bg-dark);
    padding : 5px;
    font-size : 0.8em;
}

/* Thumbnail when no media content */
.thumb-self {
    background: url(../images/thumb_sprite.png) 0 0;
    width:70px;
    height:51px;
    float: left;
    margin-right: 6px;
}

/* Media thumbnail */
.post-thumb {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 6px;
}

.date {
    font-size : 0.8em;
    color : #dedede ;
    padding-left: 4%;
}

.comment {
    border-width: 0 0 8px !important;
    border-color: var(--bg-light) !important;
    padding: 0.25rem 0.10rem 0.25rem 0.45rem;
}

/* Nested post comments */
.nested {
    background: var(--bg-light) !important;
    border-color: #343a40 !important;
}

.cross-header {
    background : var(--bg-dark);
    padding : 5px;
}

audio {
    width: 50%;
    margin-top: -4px;
}

.img-zoom {
  margin: 5.5rem;
  max-width: none;
}
