@import url("variable.css");
@import url("scrollbar.css");
@import url("button.css");
@import url("card.css");
@import url("post.css");

body {
    background: rgb(52, 58, 64);
    overflow-y: hidden;
}

a:hover {
    color:white;
    text-decoration: none;
}
.navbar {
    height:97%;
    border-right: 2px solid black;
    position:fixed;
    z-index:100;
    padding:0.01%;
}

#navcol {
    max-width: 4.5%;
}

.navbar img {
    margin-left: 10%;
}

.modal-content {
    background: var(--bg-dark);
    color:white;
}

.col-8 {
    max-width:70%;
    flex: 0 0 70%;
}

.col-3 {
    max-width: 24%;
}