@import url("variable.css");
@import url("scrollbar.css");
@import url("button.css");
@import url("card.css");
@import url("post.css");
@import url("navbar.css");

body {
    background: rgb(52, 58, 64);
    overflow-y: hidden;
}

a:hover {
    color:white;
    text-decoration: none;
}

.col-8 {
    max-width:70%;
    flex: 0 0 70%;
}

.col-3 {
    max-width: 24%;
}

