@import url("variable.css");
@import url("scrollbar.css");
@import url("button.css");
@import url("card.css");
@import url("post.css");

body {
    background: rgb(52, 58, 64);
    overflow-y: hidden;
}

a:hover {
    color:white;
    text-decoration: none;
}
.navbar {
    padding:5px;
}